.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.card{
  display: grid;
  text-align: center;
  justify-content: space-between;
  justify-items: center;
  margin: 30px 120px;
  background-color: blueviolet;
  padding: 5px 5px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-detail{
  text-align: center;
  color: white;
}
.name{
  display: block;
  margin: 5px;
  color: white;
  font-weight: bolder;
}
.navbar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 50px;
  background-color: blueviolet;
}
.logo{
  font-weight: bolder;
  color: white;
  padding: 10px;
  font-size: larger
}
.get-btn{
  background-color: yellowgreen;
  font-weight: bold;
  margin: 5px;
  padding: 0px 5px;
}